.sb-footer {
  margin-top: auto;
  padding: 8px;
  z-index: 5;
  width: 100%;
  background-color: white;
}

footer a {
  color: var(--sb-theme-color);
  text-decoration: none;
}
footer p {
  text-align: center;
}
