.grid-card {
  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  height: 100%;
  gap: 22px;
  flex-direction: column;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  padding: 22px 1rem;
}

.grid-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.grid-card-image {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}

.grid-card-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.grid-card-title {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.grid-card-rating {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.grid-card-rating .count {
  color: #666;
  font-size: 0.85rem;
}

.grid-card-price {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--sb-theme-color);
}
.grid-card-link {
  text-decoration: none;
  color: inherit;
}
