.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--sb-border-color-thin);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: var(--sb-theme-color);
}
.header-content {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  max-width: var(--sb-max-content-width);
}
.header-side {
  flex-shrink: 0;
}

.header-left {
  margin-right: 1rem;
  
}

.header-right ul {
  margin-left: 1rem;
  display: flex;
  list-style: none;
  gap: 16px;

}

.header-main {
  flex: 1;
  text-align: center;
  color: var(--sb-theme-color);
}

.header-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c5282;
  margin: 0;
}

.header-subtitle {
  font-size: 0.875rem;
  margin: 0;
}
header svg {
  width: 32px;
}
header .header-logo {
  display: flex;
  align-items: center;
}
